server:
  port: ${random.int(8089,9090)}
  error:
    include-message: always
    include-binding-errors: never
    include-stacktrace: never
    include-exception: false
  servlet:
    context-path: /expense

spring:
  application:
    name: auto-hub-expense
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:p6spy:postgresql://localhost:5432/auto_hub_expense
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  cloud:
    loadbalancer:
      enabled: true
      cache:
        enabled: true
    consul:
      enabled: true
      host: localhost
      port: 8500
      discovery:
        enabled: true
        prefer-ip-address: true
        instanceId: ${spring.application.name}-id
        serviceName: ${spring.application.name}
        healthCheckPath: /actuator/health
        healthCheckInterval: 10s
        hostname: localhost
        failFast: false
    function:
      definition: deletedBookingConsumer;failedInvoiceDlqConsumer;savedBookingConsumer;updatedBookingConsumer
    stream:
      defaultBinder: kafka
      bindings:
        auditLogInfoProducer-out-0:
          destination: ${EXPENSE_AUDIT_LOG_INFO_TOPIC}
          contentType: application/json
        bookingUpdateProducer-out-0:
          destination: ${BOOKING_UPDATE_TOPIC}
          contentType: application/json
        carUpdateDetailsProducer-out-0:
          destination: ${INVOICE_CAR_UPDATE_DETAILS_TOPIC}
          contentType: application/json
        emailNotificationProducer-out-0:
          destination: ${EMAIL_NOTIFICATION_TOPIC}
          contentType: application/json
        failedInvoiceDlqProducer-out-0:
          destination: ${FAILED_INVOICE_DLQ_TOPIC}
          contentType: application/json
        deletedBookingConsumer-in-0:
          binder: kafka
          destination: ${DELETED_BOOKING_TOPIC}
          contentType: application/json
          group: ${EXPENSE_CONSUMER_GROUP}
          consumer:
            default-retryable: true
            max-attempts: 3
            back-off-max-interval: 10000
            back-off-multiplier: 1.0
        failedInvoiceDlqConsumer-in-0:
          binder: kafka
          destination: ${FAILED_INVOICE_DLQ_TOPIC}
          contentType: application/json
          group: ${EXPENSE_CONSUMER_GROUP}
          consumer:
            default-retryable: true
            max-attempts: 3
            back-off-max-interval: 10000
            back-off-multiplier: 1.0
        savedBookingConsumer-in-0:
          binder: kafka
          destination: ${SAVED_BOOKING_TOPIC}
          contentType: application/json
          group: ${EXPENSE_CONSUMER_GROUP}
          consumer:
            default-retryable: true
            max-attempts: 3
            back-off-max-interval: 10000
            back-off-multiplier: 1.0
        updatedBookingConsumer-in-0:
          binder: kafka
          destination: ${UPDATED_BOOKING_TOPIC}
          contentType: application/json
          group: ${EXPENSE_CONSUMER_GROUP}
          consumer:
            default-retryable: true
            max-attempts: 3
            back-off-max-interval: 10000
            back-off-multiplier: 1.0
      kafka:
        binder:
          auto-create-topics: true
          auto-add-partitions: false
          consumer-properties:
            key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            allow.auto.create.topics: true
            auto.offset.reset: latest
        bindings:
          deletedBookingConsumer-in-0:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
              standard-headers: both
          failedInvoiceDlqConsumer-in-0:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
              standard-headers: both
          savedBookingConsumer-in-0:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
              standard-headers: both
          updatedBookingConsumer-in-0:
            consumer:
              ack-mode: MANUAL_IMMEDIATE
              standard-headers: both
  kafka:
    bootstrap-servers: localhost:9092
    listener:
      missing-topics-fatal: false
    producer:
      keySerializer: org.apache.kafka.common.serialization.StringSerializer
      valueSerializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
    consumer:
      enable-auto-commit: false
  sendgrid:
    api-key: ${SENDGRID_API_KEY}

apikey:
  secret: ${API_KEY_SECRET}
  machine-role: ${INVOICE_SERVICE_ROLE}

springdoc:
  swagger-ui:
    enabled: true
    path: /definition/swagger-ui.html
    operationsSorter: method
  api-docs:
    path: /definition/v3/api-docs

management:
  server:
    port: ${server.port}
  endpoint:
    health:
      group:
        custom:
          show-components: always
          show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,loggers,prometheus
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    org:
      springframework:
        security: ERROR
        web:
          csrf:
            CsrfFilter: ERROR
        jdbc:
          core:
            JdbcTemplate: ERROR
            StatementCreatorUtils: ERROR
      hibernate:
        SQL: ERROR
        type:
          descriptor:
            sql:
              BasicBinder: ERROR

debezium:
  enabled: true
  connector-name: debezium-expense-postgres-connector
  server-name: expense-postgres-server
  server-id: 10183
  database-name: auto_hub_expense
  database-host: localhost
  database-port: 5432
  topic-name: ${DEBEZIUM_EMAIL_NOTIFICATION_TOPIC}
  table-name: invoice
  schema-name: public
  slot-name: invoice_slot
  groupId: ${EXPENSE_CONSUMER_GROUP}

cors:
  mapping: '/**'
  allowedOrigins: '*'
  allowedMethods: '*'
  allowedHeaders: '*'

audit:
  enabled: true

mustache-template:
  enabled: true

decorator:
  datasource:
    p6spy:
      enable-logging: true
      logging: slf4j
